#home-title {
    text-align: center;
    color:cornsilk;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.image {
    height: auto;
    width: 400px;
    display: block;
    margin: 0 auto;
    
}

.description {
    font-size: 24px;
}
.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
}